<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>步骤三</title>
</head>
<body>
  <div id="app">
    <div>
      <input id="inputId" placeholder="请输入" v-model="text" />
      <input id="inputId1" placeholder="请输入" v-model="text1" />
    </div>
    <div>
      这是内容text：
      <p id="txtId">{{text}}</p>
      这是内容text1：
      <p id="txtId1">{{text1}}</p>
    </div>
  </div>
  <script src="./assets/vue.js"></script>
  <script>
    var vm = new MyVue({
      el:'app',
      data:{
        text:'hello word',
        text1:'aaaaaa'
      }
    })


    // var pub = {
    //   publish:function (){
    //     dep.notify()
    //   }
    // }

    // var sub1 = {
    //   update:function(){
    //     console.log(1)
    //   }
    // }


    // var sub2 = {
    //   update:function(){
    //     console.log(2)
    //   }
    // }


    // var sub3 = {
    //   update:function(){
    //     console.log(3)
    //   }
    // }

    // function Dep (){
    //   this.subs = [sub1,sub2,sub3];
    // }

    // Dep.prototype.notify = function(){
    //   this.subs.forEach(function(sub){
    //     sub.update()
    //   })
    // };

    // var dep = new Dep();

    // pub.publish()

  </script>
  
</body>
</html>